body {
	margin: 0;
	color: white;
	background-color: #435365;
	/* background: url(background.svg); */
	background-attachment: fixed;
	background-position: center center;
	font-family: serif;
	font-size: 12pt;
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #ccc;
}

.card a {
	font-weight: inherit;
}

a:hover {
	color: white;
}

#page {
	text-align: left;
	margin: 8px auto;
	/* no box-sizing to get the full size of the text when screen size is too small to show an A4 */
	width: 100%;
	max-width: 185mm;
	padding: 10mm 25mm;
	color: black;
	background-color: #ddd;
	/* background-color: rgba(255,255,255,0.7); */
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
	border: 2px solid #ccc;
	font-size: 12pt;
}

#page a:link,#page a:visited {
	color: #333;
	text-decoration: none;
}

#page a:hover,#page a:focus {
	color: inherit;
}

#pdf {
	position: relative;
	text-align: right;
	width: 100%;
	height: 0;
	overflow: visible;
	/*
	// not clickable anymore
	z-index: -10;
	*/
}

#foot {
	display: block;
	padding: 24px 25mm 25px 25mm;
	margin-top: 30px;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.8);
	color: #bbb;
	font-weight: bold;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
	border: 2px solid transparent;
	text-align: center;
	/* white-space: nowrap; */
}

#foot a {
	text-decoration: underline;
}

.title {
	margin: 5mm 0 10mm 0;
	text-align: left;
	font-weight: normal;
	font-variant: small-caps;
}

.title>h1 {
	margin: 0 0;
	font-size: 200%;
}

.title>.subtitle {
	display: inline-block;
	font-size: 80%;
	text-align: left;
	margin-left: 0.8cm;
}

.title>.subtitle>.line {
	display: block;
	text-align: left;
}

.section {
	clear: both;
}

.word {
	text-align: right;
	font-style: italic;
	margin: 2em 0;
}

h2,h3 {
	border-bottom: 1px black solid;
}

h2>.small,h3>.small {
	font-size: 0.8em;
}

h2>.description,h3>.description {
	float: right;
}

h2>.description>span,h3>.description>span {
	font-size: 0.70em;
	vertical-align: baseline;
}

h3 {
	margin-left: 0.4cm;
	margin-right: 0.4cm;
}

p {
	margin: 0 0.8cm 0.21cm 0.8cm;
}

.card {
	text-align: right;
	font-size: 80%;
	width: 45%;
	float: right;
}

.card>.inner {
	text-align: left;
	display: inline-block;
	border-left: 0.3cm;
	border-right: 1px;
	border-top: 1px;
	border-bottom: 1px;
	border-color: black;
	border-style: solid;
	margin: 0 0 1cm 0;
}

.card>.inner>* {
	padding: 0.1cm 0.2cm;
}

.card .notes,.card .links, .languages, .website {
	border-top: solid 1px black;
}

/*
.languages .pre {
	display: block;
}
*/

.website {
	display: none;
	text-align: center;
}

.card .contact {
	padding-bottom: 0;
}

.card p {
	margin-left: 0;
	margin-right: 0;
}

.columns {
	margin: 0 0.8cm 0.21cm 0.8cm;
}

.column {
	display: inline-block;
	vertical-align: top;
	margin: 0 0;
	padding: 0 0;
	width: 32%;
}

.column ul {
	list-style: square inside;
	padding: 0 0;
	margin: 0 0;
}

.column li {
	padding-right: 16px;
}

dl,dt,dd {
	margin: 0;
}

dl {
	margin-left: 0.8cm;
	width: 100%;
	overflow: hidden;
}

dt {
	clear: left;
}

dt {
	float:left;
	width:28%;
	margin: 0 0 0.21cm 0;
}

dd {
	float:left;
	width:72%;
	margin: 0 0 0.21cm 0;
}

@media print {
body {
	background: none;
	background-color: white;
	color: black;
	margin: 0;
	padding: 0;
	font-size: 10pt;
}

#foot,#pdf,.card .links {
	display: none;
}

.website {
	display: block;
}

#page {
	/* border: solid 1px black; */
	border: 0;
	box-shadow: none;
	display: block;
	margin: 0;
	padding: 0 15mm;
	font-size: 10pt;
}

@-moz-document url-prefix() {
#page {
	padding: 0 0;
}
}

#inner a:link {
	color: black;
	font-weight: inherit;
}
.section,.subsection,.card {
	page-break-inside: avoid;
}
.title {
	padding-top: 8mm;
}
}
